*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #222;
    padding:20px;
    
    
}
form input{
   display: block;
   margin:10px;
   padding: 5px;
   background-color: rgb(219, 198, 198);
   border: none;
   border-radius: 5px;
}
.card
{
    padding: 20px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #444;
}
